<nav class="navbar navbar-expand-lg" style="background-color: #343a40;">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">
      <img style="object-fit: cover; height: 60px;" src="../../../assets/android-chrome-512x512.png" alt="Bootstrap"
        width="100px" height="40px">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href=""></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/all-products">All Products</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Collections
          </a>
          <ul class="dropdown-menu" style="background-color: #343a40;">
            <li><a class="dropdown-item" routerLink="/action/action">Action & Adventure</a></li>
            <li><a class="dropdown-item" routerLink="/sci-fi/sci-fi">Science Fiction</a></li>
            <li><a class="dropdown-item" routerLink="/history/history">History</a></li>
            <li><a class="dropdown-item" routerLink="/horror/horror">Horror</a></li>
            <li>
              <hr class="dropdown-divider">
              <!-- </li>
              <li><a class="dropdown-item" href="#">Table Sets</a></li> -->
          </ul>
        </li>
      </ul>
      <form class="d-flex" *ngIf="searchCondition" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" name="search" aria-label="Search"
          [(ngModel)]="searchValue" (input)="searchOperation()">
      </form>
      <ul class="navbar-nav " style="position: relative;">
        <li class="nav-item" *ngIf="logLinkShow"><a class="nav-link" routerLink="/sign-up">Login or SignUp</a>
        </li>
        <li class="nav-item" *ngIf="logoutLinkShow"><a class="nav-link" (click)="logOut()">Logout</a></li>
        <li class="nav-item" *ngIf="logoutLinkShow"><a class="nav-link" routerLink="">Hi <span
              style="font-size: 15px; font-weight: bolder;">{{usrname}}</span></a></li>
        <!-- <li class="nav-item"><a class="nav-link" routerLink="/add-to-cart"  *ngIf="showcart">
            <div style="display: flex;" >
              <span class="material-icons" style="color: rgb(0, 0, 0);">shopping_cart</span>
              <div style="position: absolute; top: -8px; right: 16px;">
                {{cartCount}}
              </div>
            </div>
          </a></li> -->

        <div class="demo-section d-flex align-items-center " *ngIf="showcart">
          <mat-icon role="img" aria-hidden="false" class="cart_con" aria-label="Shopping cart" tabindex="0"
            [matBadge]="cartCount" matBadgeColor="warn" routerLink="/view-cart">shopping_cart</mat-icon>
          <!-- <mat-icon style="cursor: pointer;" [matBadge]="cartIconCount" matBadgeColor="warn" routerLink="/add-to-cart">shopping_cart</mat-icon> -->
        </div>
        <div class="demo-section d-flex align-items-center " *ngIf="showcart">
          <svg width="16" height="14" xmlns="http://www.w3.org/2000/svg" class="mobile-hide">
            <path
              d="M11 .143A4.654 4.654 0 007.85 1.618l-.135.153-.134-.153A4.647 4.647 0 004.214.138C1.863.138.04 1.889.04 4.188c0 .737.192 1.447.568 2.161.464.882 1.183 1.75 2.348 2.902l.257.25c.45.437 3.159 2.948 4.032 3.796l.47.456.703-.68c1.045-.998 3.384-3.169 3.8-3.571 1.318-1.278 2.108-2.208 2.605-3.153.376-.714.567-1.424.567-2.161 0-2.299-1.823-4.05-4.175-4.05l-.213.005zm.214 1.345c1.618 0 2.825 1.16 2.825 2.7 0 .507-.134 1.004-.412 1.533-.386.734-1.033 1.514-2.112 2.579l-.377.365-3.424 3.212-3.562-3.344C2.928 7.346 2.216 6.507 1.802 5.72c-.278-.529-.413-1.026-.413-1.533 0-1.54 1.208-2.7 2.825-2.7 1.242 0 2.455.782 2.874 1.826l.626 1.562.627-1.562c.419-1.044 1.63-1.826 2.873-1.826z"
              fill="#000" fill-rule="nonzero"></path>
          </svg>
        </div>
      </ul>
    </div>
  </div>
</nav>