<div class="w-[1288px] px-4">
    <div class="mt-10">
        <p class="text-gray-500 text-xl mb-1 font-sans">Add new category</p>
        <form action="" #categoryfrom="ngForm">
            <input type="text" ngModel name="category"
                class="w-full border border-gray-400 focus:outline-none py-2 px-[9px] rounded-lg focus:outline-blue-500 transition-all focus:border-0"
                placeholder="Category name">
        </form>
        <div class="text-right">
            <button
                class="bg-blue-500 py-2 px-3 rounded-md text-white mt-3 text-lg font-medium hover:rounded-xl transition-all hover:bg-blue-600"
                (click)="addCategory()">Add Category</button>
        </div>
    </div>

    <div>
        <div class="top flex flex-col items-center justify-center mt-20">
            <h1 class="text-6xl font-medium text-gray-500 font-mono">
                Categories
            </h1>
        </div>
        <div class="products px-6 mt-4">
            <div class="overflow-x-auto  overflow-scroll h-[500px]">
                <table class="min-w-full bg-white">
                    <thead class="sticky mt-1 top-0">
                        <tr>
                            <th class="text-center py-4 px-4 border-b border-gray-300 bg-white"></th>
                            <th class="text-center py-4 px-4 border-b border-gray-300 bg-white">Si.No</th>
                            <th class="text-left py-4 px-4 border-b border-gray-300 bg-white">Genre</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of genres, let i = index">
                            <td class="py-2  border-b border-gray-300">
                                <div class="flex items-center">
                                    <button (click)="deleteGenre(item._id)">
                                        <svg width="30px" height="30px" viewBox="0 0 1024 1024" fill="#b0b0b0"
                                            class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg"
                                            stroke="#b0b0b0">
                                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round"
                                                stroke-linejoin="round">
                                            </g>
                                            <g id="SVGRepo_iconCarrier">
                                                <path
                                                    d="M32 241.6c-11.2 0-20-8.8-20-20s8.8-20 20-20l940 1.6c11.2 0 20 8.8 20 20s-8.8 20-20 20L32 241.6zM186.4 282.4c0-11.2 8.8-20 20-20s20 8.8 20 20v688.8l585.6-6.4V289.6c0-11.2 8.8-20 20-20s20 8.8 20 20v716.8l-666.4 7.2V282.4z"
                                                    fill=""></path>
                                                <path
                                                    d="M682.4 867.2c-11.2 0-20-8.8-20-20V372c0-11.2 8.8-20 20-20s20 8.8 20 20v475.2c0.8 11.2-8.8 20-20 20zM367.2 867.2c-11.2 0-20-8.8-20-20V372c0-11.2 8.8-20 20-20s20 8.8 20 20v475.2c0.8 11.2-8.8 20-20 20zM524.8 867.2c-11.2 0-20-8.8-20-20V372c0-11.2 8.8-20 20-20s20 8.8 20 20v475.2c0.8 11.2-8.8 20-20 20zM655.2 213.6v-48.8c0-17.6-14.4-32-32-32H418.4c-18.4 0-32 14.4-32 32.8V208h-40v-42.4c0-40 32.8-72.8 72.8-72.8H624c40 0 72.8 32.8 72.8 72.8v48.8h-41.6z"
                                                    fill=""></path>
                                            </g>
                                        </svg>
                                    </button>
                                </div>

                            </td>
                            <td class="text-center py-2 px-4 border-b border-gray-300 font-mono font-bold">{{i+1}}</td>
                            <td class="text-left py-2 px-4 border-b border-gray-300">{{item.name}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>